<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="usedObjects" type="System.Configuration.NameValueSectionHandler" />
  </configSections>


  <usedObjects>
    <add key="tryit" value="//a[@class='w3schools-logo']" />
  </usedObjects>

  <appSettings>
    <add key="SeleniumHost" value="http://localhost:4444/wd/hub" />

    <!--login gmail test login-->
    <add key="loginurl" value="http://gmail.com" />
    <add key="login_user" value="jauisland@gmail.com" />
    <add key="login_pw" value="sEpevillaber03" />

    <!--login gmail xpath-->
    <add key="login_user_txtfield" value="//*[@id='identifierId']" />
    <add key="login_user_nextbtn" value="identifierNext" />
    <add key="login_pw_txtfield" value="password" />
    <add key="login_pw_nextbtn" value="passwordNext" />
    <add key="login_dashboard_searchsection" value="//*[@id='gbqfq']" />

  </appSettings>

  <connectionStrings>
    <!-- <add name="qa_DB" connectionString="SERVER=localhost;DATABASE=testdb;UID=root;PASSWORD=password;" />-->
    <add name="qa_DB" connectionString="Data Source=127.0.0.1;Initial Catalog=testdb;UID=root;" />
  </connectionStrings>

  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add description=".Net Framework Data Provider for MySQL" invariant="MySql.Data.MySqlClient" name="MySQL Data Provider" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.10.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>